#myCanvas {
	background-color: darkgrey ;
}

body {
	background-color: #18A38E;
}


#reset {
	font-size: 12px;
	padding: 12px 28px;
	width: 100px;
	color: red;
	margin-left: 510px;
}

#start {
	font-size: 12px;
	padding: 12px 28px;
	width: 100px
	color: blue;
}